<section class="section2">
    <h2 id="reasons" class="section2-title">3 reasons to purchase</h2>
    <div class="reasons">
        <article class="section2-article">
            <h3 class="article-title">Ut sed metus</h3>
            <p class="article-text">Lorem, ipsum dolor sit amet consectetur.</p>
        </article>
        <article class="section2-article">
            <h3 class="article-title">curabitur ac erat</h3>
            <p class="article-text">mauris mattis urna quis lorem molestie</p>
        </article>
        <article class="section2-article">
            <h3 class="article-title">morbi dictum</h3>
            <p class="article-text">aliquam dolor et dolor tincidunt</p>
        </article>
    </div>
    <div class="section2-button">
        <a class="button-text" href="https://adalab.es/" target="_blank">more reasons</a>
    </div>
</section>