<footer class="footer">
    <nav>
        <ul class="navigation1">
            <li class="navigation1-articles"><a href="">articles</a></li>
            <li class="navigation1-books"><a href="">books</a></li>
            <li class="navigation1-events"><a href="">events</a></li>
            <li class="navigation1-reasons"><a href="">reasons</a></li>
            <li class="navigation1-tips"><a href="">tips</a></li>
        </ul>
    </nav>
    <nav>
        <ul class="navigation2">
            <li class="navigation2-twitter"><a href="">twitter</a></li>
            <li class="navigation2-instagram"><a href="">instagram</a></li>
            <li class="navigation2-mastodon"><a href="">mastodon.social</a></li>
        </ul>
    </nav>
    <div class="copy">
        <div class="copy-icon">&copy2021</div>
        <small class="copy-text">we love components</small>
    </div>
</footer>