<footer class="footer">
    <div class="footer-button">
        <a class="footer-button-top" href="#hero"></a>
    </div>
    <div class="footer-container">
        <nav class="footer-nav1">
            <ul class="footer-nav1-list">
                <li><a class="footer-nav-link" href="https://www.youtube.com/watch?v=Lvp0s7sOLDc&t=21s"
                        target="_blank">Suzanne</a></li>
                <li><a class="footer-nav-link" href="https://www.youtube.com/watch?v=WZu-wjo6HS4"
                        target="_blank">Carolina</a></li>
                <li><a class="footer-nav-link" href="https://www.youtube.com/watch?v=Ys0J8NfPRRI&t=1s"
                        target="_blank">Lucía</a></li>
                <li><a class="footer-nav-link" href="https://www.youtube.com/watch?v=TtYCJojWyns&t=99s"
                        target="_blank">Janis</a></li>
                <li><a class="footer-nav-link" href="https://www.youtube.com/watch?v=0fSszOrPfMM"
                        target="_blank">Lola</a></li>
            </ul>
        </nav>
        <nav class="footer-nav2">
            <ul class="footer-nav2-list">
                <li><a class="footer-nav-link" href="https://www.youtube.com/watch?v=7yF_i_x3DeA"
                        target="_blank">Canciones con mensaje</a></li>
                <li><a class="footer-nav-link" href="https://www.youtube.com/watch?v=wnnobce3ElE" target="_blank">El
                        rockero filantrópico</a>
                </li>
                <li><a class="footer-nav-link" href="https://www.youtube.com/watch?v=3XYf5Hqqblg" target="_blank">ac/dc

                    </a></li>
            </ul>
        </nav>
        <div class="copy">
            <div class="copy-icon">&copy2021</div>
            <small class="copy-text">we <div class="love">&#x2665;</div> rock'n'roll</small>

        </div>
    </div>
</footer>