<footer class="footer">
    <div class="footer-button">
        <div class="footer-button-top"></div>
    </div>
    <div class="footer-container">
        <nav class="footer-nav1">
            <ul class="footer-nav1-list">
                <li><a class="footer-nav-link" href="">articles</a></li>
                <li><a class="footer-nav-link" href="">books</a></li>
                <li><a class="footer-nav-link" href="">events</a></li>
                <li><a class="footer-nav-link" href="">reasons</a></li>
                <li><a class="footer-nav-link" href="">tips</a></li>
            </ul>
        </nav>
        <nav class="footer-nav2">
            <ul class="footer-nav2-list">
                <li><a class="footer-nav-link" href="">twitter</a></li>
                <li><a class="footer-nav-link" href="">instagram</a></li>
                <li><a class="footer-nav-link" href="">mastodon.social</a></li>
            </ul>
        </nav>
        <div class="copy">
            <div class="copy-icon">&copy2021</div>
            <small class="copy-text">we components</small>
        </div>
    </div>
</footer>