<main class="main">
    <section class="section1">
        <h6 class="section1-subtitle">insomnia tips</h6>
        <h2 class="section1-title">looking through a window</h2>
        <p class="section1-text">Donec accumsan, nulla ut volutpat portitor, quam odio felis, at luctus ex diam nec
            lectus. Vivamus semper sodales rutrum.</p>
        <div class="button-go">
            <div class="go">go</div>
        </div>
    </section>
    <section class="section2">
        <h2 class="section2-title">3 reasons to purchase</h2>
        <div class="articles">
            <article class="section2-article">
                <h3 class="article-title">Ut sed metus</h3>
                <p class="article-text">Lorem, ipsum dolor sit amet consectetur.</p>
            </article>
            <article class="section2-article">
                <h3 class="article-title">curabitur ac erat</h3>
                <p class="article-text">mauris mattis urna quis lorem molestie</p>
            </article>
            <article class="section2-article">
                <h3 class="article-title">morbi dictum</h3>
                <p class="article-text">aliquam dolor et dolor tincidunt</p>
            </article>
        </div>
        <div class="section2-button">
            <div class="button-text">more reasons</div>
        </div>
    </section>

</main>