<main class="main">
    <section class="section1">
        <h6 class="section1-subtitle">SAM COOKE</h6>
        <h2 class="section1-title">Vídeo destacado</h2>
        <p class="section1-text">¿Gospel? ¿Blues? ¿Rythm and blues? ¿Rock? Se llama <strong>Soul</strong>, o lo que es
            lo mismo
            la
            música del alma</p>
        <div class="button-go">
            <a class="go" href="https://www.youtube.com/watch?v=Z7AKgrJT3nY" target="_blank">go</a>
        </div>
    </section>
    <section class="section2">
        <h2 id="section2-title" class="section2-title"> Últimos Videos </h2>

        <article class="reasons-article">
            <h3 class="reasons-title">Emily</h3>
            <p class="reasons-text">Canciones con nombre de mujer-Syd Barret</p>
        </article>
        <article class="reasons-article">
            <h3 class="reasons-title">Etta James</h3>
            <p class="reasons-text">La matriarca del Rythm and Blues</p>
        </article>
        <article class="reasons-article">
            <h3 class="reasons-title">Mercedes</h3>
            <p class="reasons-text">Canciones con nombre de mujer- Janis Joplin</p>
        </article>

        <div class="section2-button">
            <a class="button-text" href="https://www.youtube.com/channel/UC_O8DyTQ29t7xvzMDITwt-g" target="_blank">más
                videos
            </a>
        </div>
    </section>

</main>