<main class="main">
    <section class="section1">
        <h6 class="section1-subtitle">insomnia tips</h6>
        <h2 class="section1-title">looking through a window</h2>
        <p class="section1-text">Donec accumsan, nulla ut volutpat portitor, quam odio felis, at luctus ex diam nec
            lectus. Vivamus semper sodales rutrum.</p>
        <div class="button-go">
            <div class="go">go</div>
        </div>
    </section>
    <section class="section2">
        <h2 class="section2-title">3 reasons to purchase</h2>
        <article class="section2-article">
            <h3>Ut sed metus</h3>
            <p>Lorem, ipsum dolor sit amet consectetur.</p>
        </article>
        <article class="section2-article">
            <h3>curabitur ac erat</h3>
            <p>mauris mattis urna quis lorem molestie</p>
        </article>
        <article class="section2-article">
            <h3>morbi dictum</h3>
            <p>aliquam dolor et dolor tincidunt</p>
        </article>
        <div class="section2-button">
            <div class="button-text">more reasons</div>
        </div>
    </section>

</main>