.footer {
  background-color: $colordarkblue;

  /*height: 20.06rem;*/
}

.footer-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: $font-main;
}
.footer-nav1 {
  // border: 2px red solid;
  /*margin-top: 60px;*/
  text-align: center;
  margin-bottom: 1.87rem;
}

.footer-nav1-list {
  list-style-type: none;
  line-height: 1.88;
}

.footer-nav-link {
  color: $colorwhite;
  text-decoration: none;
  font-size: 1rem;
  text-transform: uppercase;
  line-height: 1.88;
}
.footer-nav-link:hover {
  color: $colororange;
  transform: scale(2);
}

.footer-nav2 {
  // border: 2px red solid;
  width: 9.19rem;
  height: 5.62rem;
  text-align: center;
  margin-bottom: 1.87rem;
}
.footer-nav2-list {
  list-style-type: none;
  line-height: 1.88;
}
.copy {
  // border: 2px red solid;
  color: $colorwhite;
  font-size: 0.87rem;
  text-align: center;
  margin-bottom: 2.81rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.copy-icon {
  padding-bottom: 0.94rem;
}
// .copy-icon {
//   width: 4.81rem;
//   height: 1.87rem;
// }

// .copy-text {
//   width: 18.12rem;
//   height: 1.87rem;
// }

.footer-button {
  background-color: $colorwhite;
  box-shadow: 0.12rem 0.12rem 0.31rem $colordarkgrey;
  width: 3.12rem;
  height: 3.12rem;
  border-radius: 1.87rem;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  top: -1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
@keyframes latidos {
  from {
    transform: none;
  }
  50% {
    transform: scale(1.4);
  }
  to {
    transform: none;
  }
}

.footer-button-top {
  display: block;
  width: 1.28rem;
  height: 1.5rem;
  background-image: url(../images/ico-arrow.svg);
  background-size: contain;
  animation: latidos 0.5s infinite;
  transform-origin: center;
}
.footer-button-top:hover {
  transform: scale(2);
}

@keyframes latidos {
  from {
    transform: none;
  }
  50% {
    transform: scale(1.4);
  }
  to {
    transform: none;
  }
}

.love {
  display: inline-block;
  font-size: 0.62rem;
  text-shadow: 0 0 0.62rem $coloricegrey, 0.06rem 0.06rem 0 $colordarkgrey;
  color: $colororange;
  animation: latidos 0.5s infinite;
  transform-origin: center;
}
@media all and (min-width: 48rem) {
  .footer {
    // height: 15rem;
  }
  .footer-container {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: flex-end;
    // border: solid 2px red;
    // padding-left: 39px;
    // padding-right: 39px;
    width: 39.37rem;
    margin-left: auto;
    margin-right: auto;
  }
  .footer-nav2 {
    order: -1;
    width: 13.12rem;
    text-align: left;
  }
  .footer-nav1 {
    width: 13.12rem;
    text-align: left;
    margin-left: 1.87rem;
    margin-right: 1.87rem;
  }
  .copy-icon {
    width: 210px;
    text-align: left;
  }
  .copy-text {
    width: 13.12rem;
    text-align: left;
  }
}
@media all and(min-width:75rem) {
  .footer-container {
    margin-right: 23.12rem;
    margin-left: 23.21rem;
  }
}
