.footer{
    background-color: #304268;
    width: 100vw;
    height: 465px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    
}

.footer-button-top {
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 30px;
    margin-bottom: 53px;
    margin-top:45px;  
    transform: translate(0, -225%); 
}

.button-icon-top {
    width: 50%;
    height: 50%;
    transform: translate(50%,50%);
}
.footer-container{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-evenly;
    
    

}
.footer-nav1 {
    border: 2px red solid;
    justify-content: space-between;
}
.footer-nav1-list{
    list-style-type: none;
}

.footer-nav-link{
    color: white;
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
}
    
.footer-nav2 {
    border: 2px red solid;
    width: 147px;
    height: 90px;
    text-align: center;

    
}
.footer-nav2-list {
    list-style-type: none;
    
}
.copy {
    border: 2px red solid;
    color: white;
    font-size: 14px;
    text-align: center;
}
