.footer {
  background-color: $colordarkblue;
  width: 100vw;
  height: 465px;
}

.footer-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-family: $font-main;
}
.footer-nav1 {
  // border: 2px red solid;
  /*margin-top: 60px;*/
  text-align: center;
}

.footer-nav1-list {
  list-style-type: none;
  line-height: 1.88;
}

.footer-nav-link {
  color: $colorwhite;
  text-decoration: none;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 1.88;
}
.footer-nav-link:hover {
  color: $colororange;
  transform: scale(2);
}

.footer-nav2 {
  // border: 2px red solid;
  width: 147px;
  height: 90px;
  text-align: center;
}
.footer-nav2-list {
  list-style-type: none;
  line-height: 1.88;
}
.copy {
  /*border: 2px red solid;*/
  color: $colorwhite;
  font-size: 14px;
  text-align: center;
  margin-bottom: 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.copy-icon {
  width: 77px;
  height: 30px;
}

.copy-text {
  width: 290px;
  height: 30px;
}

.footer-button {
  background-color: $colorwhite;
  box-shadow: 2px 2px 5px $colordarkgrey;
  width: 50px;
  height: 50px;
  border-radius: 30px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  top: -20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@keyframes latidos {
  from {
    transform: none;
  }
  50% {
    transform: scale(1.4);
  }
  to {
    transform: none;
  }
}

.footer-button-top {
  display: block;
  width: 20.6px;
  height: 24px;
  background-image: url(/assets/images/ico-arrow.svg);
  background-size: contain;
  animation: latidos 0.5s infinite;
  transform-origin: center;
}
.footer-button-top:hover {
  transform: scale(2);
}

@keyframes latidos {
  from {
    transform: none;
  }
  50% {
    transform: scale(1.4);
  }
  to {
    transform: none;
  }
}

.love {
  display: inline-block;
  font-size: 10px;
  text-shadow: 0 0 10px $coloricegrey, 1px 1px 0 $colordarkgrey;
  color: $colororange;
  animation: latidos 0.5s infinite;
  transform-origin: center;
}
@media all and (min-width: 768px) {
  .footer {
    height: 240px;
  }
  .footer-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    // margin-left: 39px;
    // margin-right: 39px;
  }
  .footer-nav2 {
    order: -1;
  }
}
