.header {
  height: 100vh;
  width: 100vw;
  background-image: url(/assets/images/cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.header-menu {
  background-color: $colorblue;
  width: 44px;
  height: 44px;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-menu-icon {
  width: 16px;
  height: 14px;
  background-image: url(/assets/images/ico-menu.svg);
  background-size: contain;
}
.header-menu-icon:hover {
  transform: scale(2);
}
.header-text {
  color: white;
  /*border: solid blue 2px;*/
  margin-top: 284px;
}

.header-title {
  text-transform: uppercase;
  width: 290px;
  height: 110px;
  /*border: red solid 2px;*/
  text-align: center;
  font-size: 42px;
  font-family: $font-titles;
}
.header-subtitle {
  text-align: center;
  font-size: 16px;
  font-family: $font-main;
  margin-top: 10px;
  /*border: solid 2px white;*/
  text-transform: lowercase;
}
.header-subtitle::first-letter {
  text-transform: uppercase;
}

.header-button {
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 30px;
  margin-bottom: 45px;
  margin-top: 53px;
  box-shadow: 2px 2px 5px $colordarkgrey;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-icon {
  width: 20px;
  height: 11.7px;
  background-image: url(/assets/images/ico-scroll-down.svg);
  background-size: contain;
}
.button-icon:hover {
  transform: scale(2);
}

@media all and (min-width: 768px) {
  .header-text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header-title {
    font-size: 80px;
    text-align: center;
    width: 690px;
    height: 212px;
  }
  .header-subtitle {
    font-size: 24px;
    width: 360px;
    height: 32px;
  }
}
@media all and (min-width: 1200px) {
  .header-title {
    font-size: 100px;
    text-align: center;
    width: 730px;
    height: 264px;
  }
  .header-subtitle {
    font-size: 24px;
    width: 730px;
    height: 32px;
  }
}
