.header {
  height: 100vh;
  width: 100vw;
  background-image: url(../images/guitars.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.header-menu {
  background-color: red;
  width: 44px;
  height: 44px;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-menu-icon {
  width: 16px;
  height: 14px;
  background-image: url(../images/ico-menu.svg);
  background-size: contain;
  &:hover {
    transform: scale(2);
    transition: transform ease 1s;
  }
  &:active {
    transform: scale(2);
    transition: transform ease 1s;
  }
}
.header-text {
  color: $colorwhite;
  margin-top: 284px;
  @media all and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.header-title {
  text-transform: uppercase;
  width: 290px;
  height: 110px;
  text-align: center;
  font-size: 42px;
  font-family: $font-titles;
  @media all and (min-width: 768px) {
    font-size: 80px;
    text-align: center;
    width: 690px;
    height: 212px;
  }
  @media all and (min-width: 1200px) {
    font-size: 100px;
    text-align: center;
    width: 730px;
    height: 275px;
  }
}
.header-subtitle {
  text-align: center;
  font-size: 16px;
  font-family: $font-main;
  margin-top: 10px;
  color: red;
  text-transform: lowercase;
  &::first-letter {
    text-transform: uppercase;
  }
  @media all and (min-width: 768px) {
    font-size: 24px;
    width: 360px;
    height: 32px;
  }
  @media all and (min-width: 1200px) {
    font-size: 24px;
    width: 730px;
    height: 32px;
  }
}
.header-button {
  width: 50px;
  height: 50px;
  background-color: $colorwhite;
  border-radius: 30px;
  margin-bottom: 45px;
  margin-top: 30px;
  box-shadow: 2px 2px 5px $colordarkgrey;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 18px 12px 15.3px 13px;
}
.button-icon {
  width: 20px;
  height: 11.7px;
  background-image: url(../images/ico-scroll-down.svg);
  // background-size: contain;
  background-repeat: no-repeat;
  object-fit: contain;
  transform: scale(1.3);

  &:hover {
    transform: scale(2);
    transition: transform ease 1s;
  }
  &:active {
    transform: scale(2);
    transition: transform ease 1s;
  }
}
