.header {
    height: 100vh;
    width: 100%;
    background-image: url(/assets/images/cover.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.header-text {
    color: white;
    /*height: 50vh;
    width: 50vw;*/
    /*border: solid blue 2px;*/
}

.header-title {
    text-transform:uppercase;
    width: 290px;
    height: 110px;
    /*border: red solid 2px;*/
    text-align: center;
    font-size: 42px;
    font-family: $font-titles;
    /*margin-top: 284px;
    margin-bottom: 174px;
    margin-left: 15px;
    margin-right: 15px;*/    
}
.header-subtitle{
    text-align: center;
    font-size: 16px;
    font-family: $font-main;
    margin-top: 10px;
    /*border: solid 2px white;*/
    text-transform: lowercase;
}
.header-subtitle::first-letter{
    text-transform: uppercase;
}

.header-button {
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 30px;
    margin-bottom: 53px;
    margin-top:45px;   
    
}
.button-icon {
    width: 50%;
    height: 50%;
    transform: translate(50%,50%);
}

.header-menu{
    background-color:$colorblue;
    width: 44px;
    height: 44px;
    position: fixed;
   top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.header-menu-icon {

width: 16px;
 height: 14px;
 background-image: url(/assets/images/ico-menu.svg);
 background-size: contain;
}

