.section1 {
  width: 100vw;
  height: 376px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: $colorwhite;
  margin: 30px 15px 45px;
}
.section1-subtitle {
  color: $colorlightblue;
  font-size: 14px;
  font-family: $font-main;
  text-transform: capitalize;
  /*border: black solid 2px;*/
  height: 30px;
  line-height: 2.14;
}
.section1-title {
  text-transform: capitalize;
  font-size: 24px;
  font-family: $font-titles;
  text-align: left;
  /*border: solid 2px black;*/
  width: 290px;
  height: 60px;
}
.section1-text {
  width: 290px;
  height: 120px;
  /*border: black solid 2px;*/
  font-size: 18px;
  font-family: $font-main;
  text-align: left;
  line-height: 1.6;
  color: #4a4a4a;
}

.button-go {
  border: solid 2px $colororange;
  width: 76px;
  height: 45px;
  border-radius: 30px;
  padding: 0 25px 0 26px;
  // margin-bottom: 45px;
  // margin-top: 30px;
}
.go {
  color: $colororange;
  text-transform: lowercase;
  font-size: 20px;
  font-family: $font-main;
  text-align: center;
  text-transform: capitalize;
  line-height: 2;
  text-decoration: none;
}
.go:hover {
  color: $colordarkblue;
  text-decoration: underline;
  transition: color ease 2s, text-decoration ease 2s;
}

.go:active {
  color: $colordarkblue;
  text-decoration: underline;
  transition: color ease 2s, text-decoration ease 2s;
}

@media all and (min-width: 768px) {
  .section1 {
    margin-left: 39px;
    margin-right: 39px;
    margin-top: 30px;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .section1-subtitle {
    width: 216;
  }
  .section1-title {
    width: 690px;
    font-size: 26px;
  }
  .section1-text {
    width: 690px;
    font-size: 20px;
  }
}
@media all and(min-width:1200px) {
  .section1-subtitle {
    font-size: 16px;
    width: 360px;
  }
  .section1-title {
    width: 730;
    font-size: 32px;
  }
  .section1-text {
    width: 730;
    font-size: 20px;
  }
}

.section2 {
  background-color: $coloriceblue;
  width: 100vw;
  height: 624px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.section2-title {
  font-family: $font-titles;
  font-size: 24px;
  text-transform: capitalize;
}

.section2-article {
  text-align: center;
  font-size: 18px;
  text-transform: lowercase;
}
.article-title::first-letter {
  text-transform: uppercase;
}
.article-text {
  height: 63px;
  width: 180px;
}
.article-text::first-letter {
  text-transform: uppercase;
}
.section2-button {
  background-color: $colororange;
  border-radius: 30px;
  width: 184px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}
.button-text {
  color: $colorwhite;
  text-transform: lowercase;
  font-size: 20px;
  text-decoration: none;
}
.button-text::first-letter {
  text-transform: uppercase;
}
.button-text:hover {
  color: $colorblue;
  font-size: 25px;
  transition: color ease 2s, font-size 2s;
}

.button-text:active {
  color: $colorblue;
  font-size: 25px;
  transition: color ease 2s, font-size 2s;
}
