.section1 {
  display: flex;
  flex-direction: column;
  background-color: $colorwhite;
  padding: 30px 15px 45px;
  @media all and (min-width: 768px) {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 30px;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  @media all and(min-width:1200px) {
    margin-left: 275px;
    margin-right: 275px;
  }
}
.section1-subtitle {
  color: $colorlightblue;
  font-size: 14px;
  font-family: $font-main;
  text-transform: capitalize;
  height: 30px;
  line-height: 2.14;
  @media all and (min-width: 768px) {
    width: 216px;
  }
  @media all and (min-width: 1200px) {
    font-size: 16px;
    width: 360px;
  }
}
.section1-title {
  text-transform: capitalize;
  font-size: 24px;
  font-family: $font-titles;
  text-align: left;
  width: 290px;
  height: 60px;
  margin-bottom: 15px;
  @media all and (min-width: 768px) {
    width: 690px;
    font-size: 26px;
  }
  @media all and (min-width: 1200px) {
    width: 730px;
    font-size: 32px;
  }
}
.section1-text {
  height: 120px;
  font-size: 18px;
  font-family: $font-main;
  text-align: left;
  line-height: 1.6;
  color: #4a4a4a;
  padding-bottom: 0;
  @media all and (min-width: 768px) {
    width: 690px;
    font-size: 20px;
  }
  @media all and (min-width: 1200px) {
    width: 730px;
    font-size: 20px;
  }
}

.button-go {
  border: solid 2px $colororange;
  width: 76px;
  height: 45px;
  border-radius: 30px;
  padding: 0 25px 0 26px;
}
.go {
  color: $colororange;
  text-transform: lowercase;
  font-size: 20px;
  font-family: $font-main;
  text-align: center;
  text-transform: capitalize;
  line-height: 2;
  text-decoration: none;
  &:hover {
    color: $colordarkblue;
    text-decoration: underline;
    transition: color ease 2s, text-decoration ease 2s;
  }
  &:active {
    color: $colordarkblue;
    text-decoration: underline;
    transition: color ease 2s, text-decoration ease 2s;
  }
}

.section2 {
  background-color: $coloriceblue;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  text-align: center;
  @media all and (min-width: 768px) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
}

.section2-title {
  font-size: 24px;
  font-family: $font-titles;
  margin: auto;
  text-transform: capitalize;
  @media all and (min-width: 768px) {
    grid-column: span 3;
    font-size: 26px;
  }
  @media all and (min-width: 1200px) {
    font-size: 32px;
  }
}

.reasons-article {
  margin-left: auto;
  margin-right: auto;
}
.reasons-title {
  font-family: $font-titles;
  font-size: 18px;
  text-transform: lowercase;
  width: 184px;
  height: 30px;
  &::first-letter {
    text-transform: uppercase;
  }
  @media all and (min-width: 768px) {
    font-size: 24px;
    width: 210px;
    height: 30px;
    margin-bottom: 14px;
  }
  @media all and (min-width: 1200px) {
    width: 350px;
    height: 30px;
    margin-bottom: 14px;
  }
}

.reasons-text {
  font-family: $font-main;
  font-size: 18px;
  text-transform: lowercase;
  width: 180px;
  height: 64px;
  margin-bottom: 45px;
  &::first-letter {
    text-transform: uppercase;
  }
  @media all and (min-width: 768px) {
    font-size: 20px;
    width: 213px;
    height: 68px;
  }
  @media all and (min-width: 1200px) {
    width: 354px;
    height: 68px;
  }
}

.section2-button {
  background-color: $colororange;
  border-radius: 30px;
  width: 184px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
  @media all and (min-width: 768px) {
    grid-column: 2;
  }
}
.button-text {
  color: $colorwhite;
  text-transform: lowercase;
  font-size: 20px;
  text-decoration: none;
  &::first-letter {
    text-transform: uppercase;
  }
  &:hover {
    color: $colorblue;
    font-size: 25px;
    transition: color ease 2s, font-size 2s;
  }
  &:active {
    color: $colorblue;
    font-size: 25px;
    transition: color ease 2s, font-size 2s;
  }
}
